*{
	/* up爱写代码的北梦制作 */
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
}

.out{
	text-align: center;
	/* border: 1px red solid; */
	background-image: url(images/f60afbbc8d2e48e1a81126875fd14c61.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.out>ul{
	position: relative;
	/* border: 1px red solid; */
	margin: 0px auto;
	width: 960px;
	height: 709px;
	transform: scale none;
}
.out>ul>li{
	position: absolute;
	opacity: 0;
	transition: all 1s;
}
.out>ul>li:hover{
	cursor: pointer;
}
.out>ul>li>img{
	width: 100%;
	height: 100%;
}
.out>.anNiu{
	position: absolute;
	/* 圆形黑色背景，文字白色并居中 */
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 50%;
	background-color: #000;
	color: #fff;
	text-align: center;
	font-size: 24px;
	top: 340px;
	border: none;
	box-shadow: 0 2px 6px rgba(0,0,0,0.4);
	z-index: 5;
}
.out>.anNiu:hover{
	cursor: pointer;
	filter: brightness(0.9);
}

#anNiu1{
	left: 170px;
}
#anNiu2{
	right: 170px;
}
.out>ol{
	position: absolute;
	top: 600px;
	left: 44%;
}
.out>ol>li{
	background-color: ghostwhite;
	width: 10px ;
	height: 10px;
	float: left;
	margin-left: 10px;
	border-radius: 50%;
}
.out>ol::after{
	content: "";
	display: block;
	clear: both;
}




